.comments-container {
    display: grid;
    grid-gap: 16px;
    row-gap: 0;
    grid-template-columns: repeat(12, 1fr);
    margin-left: 0;
    margin-right: 0;
}

.comment-box-image {
    height: 15px;
    width: 15px;
}

.comments-filters-buttons button,
.comments-filters-buttons span,
.comment-likes
 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
 }

.comments-filters-buttons button {
    background-color: white;
    color: black;
    border: 1px solid #000;
    border-radius: 10px;
    width: 70px;
    padding: 2px;
    cursor: pointer;
}

.comments-widgets,
.comments-filters {
    grid-column-start: 1;
    grid-column-end: 13;
}

.comments-filters {
    position: relative;
    width: 100%;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.comments-filters-title span {
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
}

.comments-widgets .comment-row {
    border-bottom: 1px solid transparent;
    padding: 14px 0;
    display: flex;
    flex-flow: wrap;
    border-bottom: 1px solid #ddd;
}

.comments-widgets .comment-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.comments-widgets .comment-likes {
    font-size: 12px;
    font-weight: bold;
}

.comments-widgets .comment-author {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
}

.comment-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

@media only screen and (min-width: 768px) {
    .comments-widgets,
    .comments-filters {
        grid-column-start: 3;
        grid-column-end: 8;
    }

    .comments-container {
        margin-left: 50px;
        margin-right: 50px;
    }
}