.site-logo {
	height: 26px;
	padding: 1rem 0;
	width: 160px;
}

.site-logo__container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1536px;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

@media (min-width: 768px) {
	.site-logo {
		height: 31px;
		padding-bottom: 2rem;
		padding-top: 2rem;
		width: 190px;
	}

	.site-logo__container {
        border: none;
    }

	.comments-widgets,
    .comments-filters {
        grid-column-start: 3;
        grid-column-end: 8;
    }
}
